<nav class="bg-cardBg text-white px-8 py-4 shadow-card border-b border-borderPrimary flex items-center justify-between">

  <!-- LEFT: Title -->
  <div class="text-xl font-bold tracking-wide">
    Social Listening Dashboard
  </div>

  <!-- RIGHT: Navigation Links -->
  <div class="tab-container mb-0">

    <a href="brand.html"
       class="tab active">
       Brand Comparison
    </a>

    <a href="frontend/category.html"
       class="tab">
       Category Comparison
    </a>

    <a href="frontend/general.html"
       class="tab">
       General Analysis
    </a>
    <a href="frontend/admin.html"
       class="tab">
       Admin

  </div>

</nav>
